<link rel="stylesheet" href="/stylesheets/sign.css" />
<div id="loginPage">
  <h1>Tell us more about yourself</h1>
  <form class="flex-clm-center loginForm" action="/signup/info" method="POST">
    <label for="birthDate">How old are you?</label>
    <input
      id="birthDate"
      name="birthDate"
      type="date"
      placeholder="Enter your birthday"
      value=""
    />
    <label for="location">Where are you located?</label>
    <input
      id="location"
      name="location"
      type="text"
      placeholder="Enter your location"
      value=""
    />
    <label for="playerExp">How much experience do you have as a player?</label>
    <select name="playerExp">
      <option value="LOW" style="display:none"></option>
      <option value="low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
    </select>

    <label for="gameMasterExp">Are you a game master?</label>
    <input
      type="checkbox"
      id="isGameMaster"
      class="isGameMasterClass"
      name="isGameMaster"
    />
    <label id="gameMasterLabel" for="gameMasterExp" style="display:none;">How
      much experience as a
      <br />game master do you have?</label>
    <select id="gameMasterExp" name="gameMasterExp" style="display:none;">
      <option value="NONE" style="display:none"></option>
      <option value="low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
    </select>
    <div class="flex-row-center">
      <button class="profileButton startButtonClass">Enter</button>
      <a href="/me" class="logoutButton skipLink">Skip </a>
    </div>
  </form>
</div>

<script src="/js/gamemaster.js"></script>