<div id="loginPage">
  <h1>Tell us more about yourself</h1>
  <form class="flex-clm-center loginForm" action="/signup/info" method="POST">

      {{> infoProfil}}


    <div class="flex-row-center">
      <button class="profileButton startButtonClass">Enter</button>
      <a href="/me" class="logoutButton skipLink">Skip </a>
    </div>
  </form>
</div>

<script src="/js/gamemaster.js"></script>