{{> userProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> userSubmenu}}
  {{> charactersSubmenu}}
  <article class="user-profil-showcase-container flex-clm-center">
      <form method="POST" action="/me/character/create">
      <section>
        <label for="name">Enter your Characters Name</label>
        <input
          id="name"
          name="characterName"
          type="text"
          placeholder="Characters Name"
          value=""
        />

        <label for="gender">Gender</label>
        <input
          id="gender"
          name="gender"
          type="text"
          placeholder="Characters Gender"
          value=""
        />

        <label for="figure">Figure</label>
        <input
          id="figure"
          name="figure"
          type="text"
          placeholder="Characters Figure"
          value=""
        />

        <label for="profession">Profession</label>
        <input
          id="profession"
          name="profession"
          type="text"
          placeholder="Characters Profession"
          value=""
        />

        <label for="age">Age</label>
        <input
          id="age"
          name="age"
          type="text"
          placeholder="Characters Age"
          value=""
        />

        <label for="healthPoints">Life Points</label>
        <input
          id="healthPoints"
          name="healthPoints"
          type="text"
          placeholder="Characters Life Points"
          value="100"
        />

        <label for="religion">Religion</label>
        <input
          id="religion"
          name="religion"
          type="text"
          placeholder="Characters Religion"
          value=""
        />

        <label for="maritalStatus">Marital Status</label>
        <input
          id="maritalStatus"
          name="maritalStatus"
          type="text"
          placeholder="Characters Material Status"
          value=""
        />
      </section>
      <section>
        <article>
          <div>
            <input id="p1Key" name="p1Key" type="text" /> <input id="p1Value" name="p1Value" type="number" /><span id="p1-global"></span><span id="p1-final"></span>
          </div>
          <div>
            <input id="p2Key" name="p2Key" type="text" /> <input id="p2Value" name="p2Value" type="number" /><span id="p2-global"></span><span id="p2-final"></span>
          </div>
          <div>
            <input id="p3Key" name="p3Key" type="text" /> <input id="p3Value" name="p3Value" type="number" /><span id="p3-global"></span><span id="p3-final"></span>
          </div>
          <div>
            <input id="p4Key" name="p4Key" type="text" /> <input id="p4Value" name="p4Value" type="number" /><span id="p4-global"></span><span id="p4-final"></span>
          </div>
          <div>
            <input id="p5Key" name="p5Key" type="text" /> <input id="p5Value" name="p5Value" type="number" /><span id="p5-global"></span><span id="p5-final"></span>
          </div>
          <div>
            <input id="p6Key" name="p6Key" type="text" /> <input id="p6Value" name="p6Value" type="number" /><span id="p6-global"></span><span id="p6-final"></span>
          </div>
          <div>
            <input id="p7Key" name="p7Key" type="text" /> <input id="p7Value" name="p7Value" type="number" /><span id="p7-global"></span><span id="p7-final"></span>
          </div>
          <div>
            <input id="p8Key" name="p8Key" type="text" /> <input id="p8Value" name="p8Value" type="number" /><span id="p8-global"></span><span id="p8-final"></span>
          </div>
          <div>
            <input id="p9Key" name="p9Key" type="text" /> <input id="p9Value" name="p9Value" type="number" /><span id="p9-global"></span><span id="p9-final"></span>
          </div>
          <div>
            <input id="p10Key" name="p10Key" type="text" /> <input id="p10Value" name="p10Value" type="number" /><span id="p10-global"></span><span id="p10-final"></span>
          </div>
        </article>
        <article>
          <div>
            <input id="k1Key" name="k1Key" type="text" /> <input id="k1Value" name="k1Value" type="number" /><span id="k1-global"></span><span id="k1-final"></span>
          </div>
          <div>
            <input id="k2Key" name="k2Key" type="text" /> <input id="k2Value" name="k2Value" type="number" /><span id="k2-global"></span><span id="k2-final"></span>
          </div>
          <div>
            <input id="k3Key" name="k3Key" type="text" /> <input id="k3Value" name="k3Value" type="number" /><span id="k3-global"></span><span id="k3-final"></span>
          </div>
          <div>
            <input id="k4Key" name="k4Key" type="text" /> <input id="k4Value" name="k4Value" type="number" /><span id="k4-global"></span><span id="k4-final"></span>
          </div>
          <div>
            <input id="k5Key" name="k5Key" type="text" /> <input id="k5Value" name="k5Value" type="number" /><span id="k5-global"></span><span id="k5-final"></span>
          </div>
          <div>
            <input id="k6Key" name="k6Key" type="text" /> <input id="k6Value" name="k6Value" type="number" /><span id="k6-global"></span><span id="k6-final"></span>
          </div>
          <div>
            <input id="k7Key" name="k7Key" type="text" /> <input id="k7Value" name="k7Value" type="number" /><span id="k7-global"></span><span id="k7-final"></span>
          </div>
          <div>
            <input id="k8Key" name="k8Key" type="text" /> <input id="k8Value" name="k8Value" type="number" /><span id="k8-global"></span><span id="k8-final"></span>
          </div>
          <div>
            <input id="k9Key" name="k9Key" type="text" /> <input id="k9Value" name="k9Value" type="number" /><span id="k9-global"></span><span id="k9-final"></span>
          </div>
          <div>
            <input id="k10Key" name="k10Key" type="text" /> <input id="k10Value" name="k10Value" type="number" /><span id="k10-global"></span><span id="k10-final"></span>
          </div>
        </article>
        <article>
          <div>
            <input id="s1Key" name="s1Key" type="text" /> <input id="s1Value" name="s1Value" type="number" /><span id="s1-global"></span><span id="s1-final"></span>
          </div>
          <div>
            <input id="s2Key" name="s2Key" type="text" /> <input id="s2Value" name="s2Value" type="number" /><span id="s2-global"></span><span id="s2-final"></span>
          </div>
          <div>
            <input id="s3Key" name="s3Key" type="text" /> <input id="s3Value" name="s3Value" type="number" /><span id="s3-global"></span><span id="s3-final"></span>
          </div>
          <div>
            <input id="s4Key" name="s4Key" type="text" /> <input id="s4Value" name="s4Value" type="number" /><span id="s4-global"></span><span id="s4-final"></span>
          </div>
          <div>
            <input id="s5Key" name="s5Key" type="text" /> <input id="s5Value" name="s5Value" type="number" /><span id="s5-global"></span><span id="s5-final"></span>
          </div>
          <div>
            <input id="s6Key" name="s6Key" type="text" /> <input id="s6Value" name="s6Value" type="number" /><span id="s6-global"></span><span id="s6-final"></span>
          </div>
          <div>
            <input id="s7Key" name="s7Key" type="text" /> <input id="s7Value" name="s7Value" type="number" /><span id="s7-global"></span><span id="s7-final"></span>
          </div>
          <div>
            <input id="s8Key" name="s8Key" type="text" /> <input id="s8Value" name="s8Value" type="number" /><span id="s8-global"></span><span id="s8-final"></span>
          </div>
          <div>
            <input id="s9Key" name="s9Key" type="text" /> <input id="s9Value" name="s9Value" type="number" /><span id="s9-global"></span><span id="s9-final"></span>
          </div>
          <div>
            <input id="s10Key" name="s10Key" type="text" /> <input id="s10Value" name="s10Value" type="number" /><span id="s10-global"></span><span id="s10-final"></span>
          </div>
        </article>
      </section>
      <button class="profileButton startButtonClass">Create</button>
    </form>
  </article>
</section>

<script src=""></script>