{{> adventureProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> adventureSubmenu}}

  
    <h3>Apply</h3>
    <div id="user-data" class="flex-row-center">
      <form action="/adventure/{{adventure._id}}/apply" method="post">
      <div>
        
      </div>

        <button>Apply</button>
      </form>

    </div>
</section>