{{> adventureProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> adventureSubmenu}}

  <article class="user-profil-showcase-container flex-row-center">
  <h3 class="user-profil-showcase-title">Applicants:</h3>
  {{#each adventure.applicants}}
    <a href="/user/{{this.userId._id}}" class="user-profil-showcase">{{this.userId.username}}</a>
  {{/each}}
</article>
<section>