{{> adventureProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> adventureSubmenu}}

  <article class="user-profil-showcase-container flex-row-center">
  <h3 class="user-profil-showcase-title">Characters:</h3>
  {{#each adventure.participantIds}}
    <a href="/character/{{this._id}}" class="character-profil-showcase">{{this.characterName}}</a>
  {{/each}}
</article>


<section>