<section id="user-data-section" class="sec flex-clm-center">

  <div class="flex-row-center">
    <img id="avatar" src="{{adventure.portrait}}" alt="" />
  </div>

  <div id="user-data" class="flex-row-center">
    <div>
      <ul class="user-data-description">
        <li class="user-data-item">Game Master:</li>
        <li class="user-data-item">Created:</li>
      </ul>
    </div>

    <div>
      <ul class="user-data-items">
        <li class="user-data-item">
          <a href="/user/{{adventure.gameMasterId._id}}">
            {{adventure.gameMasterId.username}}
          </a>
        </li>
        <li class="user-data-item">{{adventure.created}}</li>
      </ul>
    </div>
  </div>
</section>