<section id="user-data-section" class="sec flex-clm-center">
  <div class="flex-row-center">
    <img id="avatar" src="{{user.avatar}}" alt="" />
  </div>
  <div id="user-data" class="flex-row-center">
    <div>
      <ul class="user-data-description">
        <li class="user-data-item">Username:</li>
        <li class="user-data-item">Age:</li>
        <li class="user-data-item">Located in:</li>
        <li class="user-data-item">Language</li>
      </ul>
    </div>
    <div>
      <ul class="user-data-items">
        <li class="user-data-item">{{user.username}}</li>
        <li class="user-data-item">{{user.location}}</li>
        <li class="user-data-item">{{user.location}}</li>
        <li class="user-data-item">german, english</li>
      </ul>
    </div>
  </div>
  <div id="user-contact"></div>
</section>