<article class="user-description">
  <h3>Describe yourself:</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime in neque
    eveniet autem quia earum, a dolore? Nisi qui enim molestias autem voluptates
    itaque eius, ab modi minus voluptatibus nemo!
  </p>
</article>
<article class="user-profil-showcase-container flex-row-center">
  <h3 class="user-profil-showcase-title">Last Adventures:</h3>
<<<<<<< HEAD
  <div class="user-profil-showcase"></div>
  <div class="user-profil-showcase"></div>
=======
  {{#each user.adventures}}
    <div class="user-profil-showcase"></div>
  {{/each}}
>>>>>>> origin/develop
</article>