<article class="user-description">
  <h3>Describe yourself:</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis dui
    et convallis consequat. In venenatis tortor vitae nunc porttitor, auctor
    elementum urna porttitor. Donec sodales mollis lacus vitae finibus. Fusce
    tristique, turpis id fermentum accumsan, massa felis in.
  </p>
</article>
<article class="user-profil-showcase-container flex-row-center">
  {{#if user.upcomingAdventures}}
    <h3 class="user-profil-showcase-title">Upcoming Adventures:</h3>
    {{#each user.upcomingAdventures}}
      {{#if this.isActive}}
        <a
          href="/adventure/{{this._id}}"
          class="user-profil-showcase"
        >{{this.adventureName}}</a>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if user.adventures}}
    <h3 class="user-profil-showcase-title">Last Adventures:</h3>
    {{#each user.adventures}}
      {{#unless this.isActive}}
        <a
          href="/adventure/{{this._id}}"
          class="user-profil-showcase"
        >{{this.adventureName}}</a>
      {{/unless}}
    {{/each}}
  {{/if}}

</article>