<ul class="user-overview-items">
  <li id="user-overview" class="user-overview-item"><a href="/me"><h2
      >User</h2></a></li>
  <li id="characters-overview" class="user-overview-item">
    <a href="/me/character"><h2>Characters</h2></a>
  </li>
  <li id="mastery-overview" class="user-overview-item"><a
      href="/me/adventure"
    ><h2>Game Master</h2></a></li>
</ul>