<ul class="user-overview-items">
  <li id="user-overview" class="user-overview-item"><a
      href="/user/{{user._id}}"
    ><h2>User</h2></a></li>
  <li id="characters-overview" class="user-overview-item">
    <a href="/user/{{user._id}}/character"><h2>Characters</h2></a>
  </li>
  {{#if user.isGameMaster}}
    <li id="mastery-overview" class="user-overview-item"><a
        href="/user/{{user._id}}/adventure"
      ><h2>Game Master</h2></a></li>
  {{/if}}
</ul>