<article class="user-description statusForm">
  {{#if atHome}}
    <form action="/me" method="post">

      <textarea
        class="statusClass"
        id="status"
        name="status"
        type="text"
        placeholder="Here you can describe yourself and talk a bit about you."
      >{{user.status}}</textarea>
      <div class="flex-row-center">
        {{#if statusUpdate}}
          <p class="statusP">Status updated</p>
        {{/if}}
        <button id="updateButton" class="editButton">update</button>
        {{#if statusUpdate}}
          <p class="statusP" style="color:#ffc300;">Status updated</p>
        {{/if}}
      </div>
    </form>
  {{/if}}
  {{#unless atHome}}
    <h3>Describe yourself:</h3>
    <p class="statusClass">
      {{user.status}}
    </p>
  {{/unless}}

</article>
<article class="user-profil-showcase-container flex-row-center">
  <h3 class="user-profil-showcase-title">Last Adventures:</h3>
  {{#each user.adventures}}
    {{#unless this.isActive}}
      <a
        href="/adventure/{{this._id}}"
        class="user-profil-showcase"
      >{{this.adventureName}}</a>
    {{/unless}}
  {{/each}}
</article>