<div class="flex-clm-center landingPage">
  <h1>Welcome to Paperfy</h1>
  <p>The Open Source save place for your<br />Pen & Paper characters and
    adventures.</p>

  <h2>How to get started</h2>

  <div class="flex-row-center">

    <div class="loginForm landingContainer">
      <h3>Find a group</h3>
      <p>Filter for an adventure, that you would like to be a part of</p>
    </div>

    <div class="loginForm landingContainer">
      <h3>Apply</h3>
      <p>Ask the Game Master to join the group they created</p>
    </div>

    <div class="loginForm landingContainer">
      <h3>Save character</h3>
      <p>Create an account yourself to save your characters online and show them
        to the public</p>
    </div>

    <div class="loginForm landingContainer">
      <h3>Create adventure</h3>
      <p>Become a Game Master, create your own adventures and find people to
        play with</p>
    </div>

  </div>

  <p id="landingP">Designed to help people, that want to<br />step in the open
    source game system of<br />
    <a href="https://howtobeahero.de/index.php?title=Hauptseite">“How to be a
      hero”</a>
  </p>

  <a href="/signup" class="skipLink signUpButton">Sign Up for free</a>

</div>