<div style="width: 100%;">
  <h1 class="flex-clm-center" style="font-size: 3.5rem; text-align:center">You
    just rolled a 404.</h1>
  <h2 class="flex-clm-center" style="font-size: 2rem; text-align:center">The
    Game Master says:<br />"You must return!"</h2>
</div>