#loginPage,
#signUpPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;
}

#loginPage > h1,
#signUpPage > h1 {
  margin-block-start: 3rem;
  text-decoration: underline;
}

.loginForm {
  background-color: #fcf8e3;
  border: 3px solid #374957;
  border-radius: 5px;
  margin: 2rem 5rem 2rem 5rem;
  padding: 1rem 6rem 1rem 6rem;
  font-size: 1.3rem;
}
.loginForm > label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.loginForm > input {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.loginForm > p {
  color: red;
  font-size: 1rem;
}

.startButtonClass {
  margin: 2rem;
}

#loginPage > form > select {
  text-align: center;
  font-size: 1.2rem;
}

.isGameMasterClass[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.skipLink {
  color: #374957;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.7rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border: 3px solid #374957;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}

.deleteButton {
  background-color: #ff6933;
}

.deleteButton:hover {
  background-color: #374957;
  color: #f0f0f0;
}

.deleteButton:active {
  color: #ff6933;
}

.editButton {
  background-color: #2cc5fa;
}

.editButton:hover {
  background-color: #f0f0f0;
  color: #374957;
}

.editButton:active {
  color: #2cc5fa;
}

.landingPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;
}

.landingPage > h1 {
  font-size: 3rem;
  margin: 2rem 0rem 0.6rem 0rem;
}

.landingPage > p {
  font-size: 1.3rem;
  margin: 0 0 3rem 0;
}

.landingPage h2 {
  margin: 0 0 2rem 0;
  text-decoration: underline;
}

.landingContainer {
  color: #374957;
  margin: 1rem;
  padding: 1rem 0.5rem 0rem 0.5rem;
  min-height: 15rem;
  width: 11rem;
}

.landingContainer > h3 {
  font-size: 1.1rem;
  text-decoration: none;
}

.landingContainer > p {
  color: #374957;
  background-color: #ffffff;
  border: 3px solid #374957;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 1rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  min-height: 10rem;
}

#landingP {
  margin: 1.5rem 0 0 0;
  padding: 0 10rem 0 10rem;
}

#landingP a {
  text-decoration: underline;
}

.applyClass {
  border: 3px solid #374957;
  background-color: #fcf8e3;
  border-radius: 5px;
  padding: 1rem 2rem 2rem 2rem;
  margin: 3rem 0 0 0;
}
.applyClass h3 {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 3px solid #374957;
  background-color: #fcf8e3;
  border-radius: 5px;
  padding: 0.5rem 0 0.5rem 0;
}

.applyClass textarea {
  border: 3px solid #374957;
  border-radius: 5px;
  font-size: 1rem;
  min-height: 15rem;
  min-width: 20rem;
}
.applyClass select {
  text-align: center;
  color: #374957;
  font-size: 1rem;
  margin: 0.5rem auto;
  width: 10rem;
}
#applyForm {
  display: flex;
  flex-direction: column;
}

#applyInput {
  text-align: start;
  padding: 1rem;
}

.applyClass > button {
  display: flex;
  margin: 2rem auto 0 auto;
  width: fit-content;
}
.applicationHead p {
  min-width: 31rem;
  width: 100%;
}
.applicantsP {
  text-align: start;
}

.adventureContainer {
  min-width: 30rem;
  border: 3px solid #374957;
  background-color: #fcf8e3;
  border-radius: 5px;
  padding: 1.5rem 0.5rem 2rem 2rem;
  margin-top: 2rem;
}

.adventureContainer h3 {
  text-align: center;
  border: 3px solid #374957;
  background-color: #ffffff;
  border-radius: 5px;
  width: fit-content;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0;
}
.adventureStats {
  margin: 0 0 0 1.5rem;
}
.advPicDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 2.5rem 0rem 0rem 1rem;
  padding: 0 0rem 0 0rem;
}

.advPicDiv > h4 {
  padding: 0 0 3rem 0;
}

.adventureSectionRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.adventureP {
  text-align: start;
  min-width: 23rem;
  min-height: 10rem;
  border: 3px solid #374957;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0 0 1rem;
  font-size: 0.8rem;
}

#userExp {
  margin-block-end: 2rem;
  margin-block-start: 0.5rem;
  background-color: #fff;
  border: 2px solid #374957;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.plotContainer {
  min-width: 23rem;
}

.plotContainer textarea {
  resize: none;
  text-align: start;
  background-color: #fff;
  border: 2px solid #374957;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 10rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.plotContainer button {
  width: 7rem;
}
