#loginPage,
#signUpPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;
}

#loginPage > h1,
#signUpPage > h1 {
  margin-block-start: 3rem;
  text-decoration: underline;
}

.loginForm {
  background-color: #fcf8e3;
  border: 3px solid #374957;
  border-radius: 5px;
  margin: 2rem 5rem 2rem 5rem;
  padding: 1rem 6rem 1rem 6rem;
  font-size: 1.3rem;
}
.loginForm > label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.loginForm > input {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.loginForm > p {
  color: red;
  font-size: 1rem;
}

.startButtonClass {
  margin: 2rem;
}

#loginPage > form > select {
  text-align: center;
  font-size: 1.2rem;
}

.isGameMasterClass[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.skipLink {
  color: #374957;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.7rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border: 3px solid #374957;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}

.deleteButton {
  background-color: #ff6933;
}

.deleteButton:hover {
  background-color: #374957;
  color: #f0f0f0;
}

.deleteButton:active {
  color: #ff6933;
}

.editButton {
  background-color: #2cc5fa;
}

.editButton:hover {
  background-color: #f0f0f0;
  color: #374957;
}

.editButton:active {
  color: #2cc5fa;
}

.landingPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;
}

.landingPage > h1 {
  font-size: 3rem;
  margin: 2rem 0rem 0.6rem 0rem;
}

.landingPage > p {
  font-size: 1.3rem;
  margin: 0 0 3rem 0;
}

.landingPage h2 {
  margin: 0 0 2rem 0;
  text-decoration: underline;
}

.landingContainer {
  color: #374957;
  margin: 1rem;
  padding: 1rem 0.5rem 0rem 0.5rem;
  min-height: 15rem;
  width: 11rem;
}

.landingContainer > h3 {
  font-size: 1.1rem;
  text-decoration: none;
}

.landingContainer > p {
  color: #374957;
  background-color: #ffffff;
  border: 3px solid #374957;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 1rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  min-height: 10rem;
}

#landingP {
  margin: 1.5rem 0 0 0;
  padding: 0 10rem 0 10rem;
}

#landingP a {
  text-decoration: underline;
}
