@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  /* Font */
  --blueGray: #374957;
  /* Colors */
  --mainColor: #0dffcd;
  --lightGrey: #dadada;
  --lighterGrey: #f0f0f0;

  /* Accents */
  --accLightBlue: #78e5ff;
  --accOrange: #ff6933;
  --accYellow: #ffc95e;
  --accGreen: #3a8c4e;
  --accRed: #d92626;

  --userColor: #ffc300;
}

/* Global */
* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* General */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-clm-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  color: var(--blueGray);
  background-color: var(--lightGrey);
}
.scrollBar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h2 {
  font-size: 1.5rem;
}

h3 {
  text-decoration: underline;
  margin-block-end: 0.5rem;
}

a {
  color: var(--blueGray);
}

/* Header */
header {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--mainColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Nav-Bar */
.header-nav {
  width: 33%;
  height: 4rem;
  min-width: 40rem;
  justify-content: flex-start;
  flex-shrink: 0;
}

#header-logo {
  height: 3rem;
  width: auto;
  flex-shrink: 0;
  padding: 0 1rem;
}

#header-title {
  padding-right: 2rem;
  font-weight: 700;
  flex-shrink: 0;
}

.header-nav-items {
  height: 4rem;
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.3rem;
}

.header-nav-item:hover a {
  text-decoration: underline;
}

#header-user-action {
  width: 33%;
  flex-shrink: 1;
  justify-content: flex-end;
}
/* HEADER BUTTONS */

.header-btn {
  margin: 0 1rem;
}

button {
  color: var(--blueGray);
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.7rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border: 3px solid var(--blueGray);
  border-radius: 5px;
  cursor: pointer;
}

.signUpButton {
  background-color: #2cc5fa;
}

.signUpButton:hover {
  background-color: var(--lighterGrey);
  color: var(--blueGray);
}

.signUpButton:active {
  color: #2cc5fa;
}

.profileButton {
  background-color: var(--userColor);
}

.profileButton:hover {
  background-color: var(--lighterGrey);
  color: var(--blueGray);
}

.profileButton:active {
  color: var(--userColor);
}

.loginButton:hover {
  background-color: var(--userColor);
  color: var(--blueGray);
}

.loginButton:active {
  color: var(--lighterGrey);
}

.logoutButton {
  margin-right: 2rem;
}

.logoutButton:hover {
  background-color: var(--blueGray);
  color: var(--lighterGrey);
}

.logoutButton:active {
  background-color: var(--lighterGrey);
  color: #2cc5fa;
}

main {
  min-height: calc(100vh - 4rem);
  width: 73%;
  min-width: 768px;
  margin-block-start: 4rem;
  background-color: var(--lighterGrey);
}

/* User-Section */
.sec {
  margin-block-start: 2rem;
}
#user-data-section {
  width: 25%;
  min-width: 300px;
  justify-content: center;
  align-self: flex-start;
}

#avatar {
  width: 10rem;
  height: auto;
  border: var(--blueGray) 3px solid;
  border-radius: 15px;
}

#user-data {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  background-color: #fff;
  border: var(--blueGray) 2px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.user-data-description {
  padding-right: 1rem;
  border-right: var(--blueGray) 2px solid;
  font-weight: 600;
}

.user-data-items {
  padding-left: 1rem;
}

/* .user-data-item {

} */

/* Overview-Section */
#user-overview-section {
  align-self: start;
  margin-block-start: 5rem;
  width: 75%;
}
/* User Nav */
.user-overview-items {
  margin-block-end: 1rem;
}

.user-overview-item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#user-overview:hover {
  color: var(--accYellow);
  text-decoration: underline;
}

#characters-overview:hover {
  color: var(--accLightBlue);
  text-decoration: underline;
}

#mastery-overview:hover {
  color: var(--accOrange);
  text-decoration: underline;
}

/* User */
.user-description {
  width: 90%;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  background-color: #fff;
  border: var(--blueGray) 2px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.user-profil-showcase-container {
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-profil-showcase-title {
  width: 100%;
}

.user-profil-showcase {
  width: 40%;
  height: 7rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  background-color: var(--accOrange);
  border: var(--blueGray) 2px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.character-profil-showcase {
  width: 40%;
  height: 7rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  background-color: var(--accLightBlue);
  border: var(--blueGray) 2px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.user-profil-showcase-create {
  width: 40%;
  height: 7rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  background-color: var(--lightGrey);
  border: var(--blueGray) 2px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

#filterPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-start;
}

.adventureListing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 55rem;
  margin: 3rem auto;
  padding: 2rem 3rem 2rem 3rem;
  border: 4px solid var(--blueGray);
  border-radius: 5px;
  background-color: var(--accOrange);
}

.adventureListing p {
  border: 4px solid var(--blueGray);
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  height: 9rem;
}

.filterPicture {
  display: flex;
  align-self: center;
  border: 4px solid var(--blueGray);
  padding: 0.7rem;
  background-color: white;
  border-radius: 5px;
  max-height: 12.5rem;
}

.adventureListingHead {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  justify-content: space-between;
}

.adventureListingHead h3 {
  min-width: fit-content;
  height: fit-content;
  font-size: 1.3rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 4px solid var(--blueGray);
  background-color: white;
  border-radius: 5px;
}
.adventureListingHead span {
  width: 20%;
  height: fit-content;
}

.playerCount {
  background-color: white;
  border: 4px solid var(--blueGray);
  border-radius: 5px;
}

.adventureListingHead p {
  min-width: 100%;
  text-align: start;
}

#filterPage > h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0 0rem 0;
}

#filterPage > p {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
  padding: 0 10rem 0 10rem;
}

.filterClass {
  background-color: #fcf8e3;
  border: 4px solid var(--blueGray);
  border-radius: 5px;
  margin: 2.5rem auto;
  padding: 2.5rem 0rem 1.5rem 0rem;
  font-size: 1.7rem;
  max-width: 40rem;
}

.filterSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.filterClass > span > label {
  margin: 0rem 0rem 0rem 4rem;
}
.filterClass > span > select {
  text-align: center;
  color: var(--blueGray);
  font-size: 1.5rem;
  margin: 0rem 4rem 0rem 0rem;
  width: 15rem;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-size: 1.5rem;
  height: auto;
  width: 10rem;
  background-color: var(--accOrange);
}

.filterButton:hover {
  background-color: var(--lighterGrey);
}

.filterButton:active {
  color: var(--accOrange);
}
